.bg-pic {
    background-image: url("https://www.thebalancesmb.com/thmb/BPWX5j3tFM2SdCLza4R-3dSZkEA=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():saturation(0.2):brightness(10):contrast(5)/gavel-and-law-book-in-front-of-lawyer-941029696-eca8cd73e02747e9bebab5372aef461e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}